body {
    background-image: url("tree.jpg");
    background-size: cover;
}

h2 {
    position: relative;
    width: fit-content;
    margin: auto;
}

h1 p {
    position: relative;
    width: fit-content;
    margin: auto;
    color: rgb(79, 192, 27);
    text-align: center;
}

.button {
    position: relative !important;
    margin: auto !important;
    text-align: center !important;
}